@media(max-width: 767px) {
    .hero{
      padding: 0px;
    }
    .heroHeading .first-heading h1{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .scroll-downs{
        top: 85vh;
    }
}